<section class="wth-100" id="use-cases">
    <div class="first-container">
        <h2>{{'useCases.title' | translate}}</h2>
        <div class="image-container">
            <img src="/assets/images/useCases.png" alt="Use Cases Image">
        </div>
    </div>
    <div class="second-container inline gap-xl">
        <div class="first-column column gap-xl">
            <div class="card column gap-xs">
                <div class="inline">
                    <span class="line"></span>
                    <h3 class="">{{'useCases.exchange' | translate}}</h3>
                </div>
                <p class="fs-s">{{'useCases.exchange.details' | translate}}</p>
            </div>
            <div class="card column gap-xs">
                <div class="inline">
                    <span class="line"></span>
                    <h3 class="">{{'useCases.fintech' | translate}}</h3>
                </div>
                <p class="fs-s">{{'useCases.fintech.details' | translate}}</p>
            </div>
        </div>
        <div class="second-column column gap-xl">
            <div class="card column gap-xs">
                <div class="inline">
                    <span class="line"></span>
                    <h3 class="">{{'useCases.rwaManagers' | translate}}</h3>
                </div>
                <p class="fs-s">{{'useCases.rwaManagers.details' | translate}}</p>
            </div>
            <div class="card column gap-xs">
                <div class="inline">
                    <span class="line"></span>
                    <h3 class="">{{'useCases.remittance' | translate}}</h3>
                </div>
                <p class="fs-s">{{'useCases.remittance.details' | translate}}</p>
            </div>
        </div>
    </div>
</section>