<section class="wth-100 centered gap-l" id="whitelabel">
    <div class="info-container column">
        <h2>{{'whitelabel.title' | translate}}</h2>
        <span class="subtitle">{{'whitelabel.paragraph' | translate}}</span>
        <span class="secondary-call">{{'whitelabel.secondaryCall' | translate}}
            <mat-icon svgIcon="right_arrow_yellow"></mat-icon>
        </span>
    </div>
    <div class="image-container">
        <img src="/assets/images/mock.png" alt="Whitelabel Image">
    </div>
</section>