@use "./../../../assets/styles/variables.scss" as v;

:host {
  section {
    padding: 60px 0px;
    width: 100%;
    background-color: v.$color-bg-secondary;

    .container {
      padding: 0 80px;
      z-index: 10000;
      width: 100%;

      img {
        height: 40px;
        width: auto;
      }

      .links {
        a {
          text-decoration: none;
          color: v.$text-dark-500;
          font-size: v.$font-m;
          transition: color 0.15s ease;

          &:hover {
            color: v.$color-text-main;
          }
        }
      }

      .social-media {
        margin-top: v.$space-m;

        mat-icon {
          cursor: pointer;
        }
      }

      .newsletter {
        margin-top: v.$space-l;
        form {
          input {
            min-width: 480px;
          }
          
          span.error-hint {
            position: absolute;
            bottom: -22px;
            right: 2px;
            font-size: 12px;
            line-height: 24px;
            color: v.$app-red;
          }

          .subscribe {
            padding: 12px 60px 12px 20px !important;

            &:hover {
              mat-icon {
                color: v.$text-dark-800;
              }
            }
          }
        }
      }

      .divider {
        width: 100%;
        background-color: v.$off-white-darker;
        height: 2px;
        margin-top: v.$space-m;
      }

      .rights {
        margin-top: v.$space-m;
      }
    }
  }
}


