@use "./../../../assets/styles/variables.scss" as v;
@use "./../../../assets/styles/mixinn.scss" as mix;

:host {
  section {
    padding: 60px 0px;
    width: 100%;
    background-color: v.$color-bg-secondary;

    @include mix.mq("desktop-wide", min) {
      padding: 80px 0px;
    }

    @include mix.mq("tablet-wide", max) {
      padding: 40px 0px;
    }

    .container {
      padding: 0 80px;

      @include mix.mq("desktop-wide", min) {
        padding: 0px 100px;
      }

      @include mix.mq("tablet-wide", max) {
        padding: 0px 60px;
      }

      @include mix.mq("phone-wide", max) {
        padding: 0px 40px;
      }
      width: 100%;

      .first-container {
        gap: v.$space-l;
        @include mix.mq("tablet-wide", max) {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: v.$space-xxs;
        }
        img {
          height: 40px;
          width: auto;
        }

        .links {
          @include mix.mq("tablet", max) {
            flex-direction: column;
            align-items: flex-start;
            gap: v.$space-m;
          }
          a {
            text-decoration: none;
            color: v.$text-dark-500;
            font-size: 1.125rem;
            transition: color 0.15s ease;

            @include mix.mq("desktop-wide", min) {
              font-size: v.$font-m;
            }

            &:hover {
              color: v.$color-text-main;
            }
          }
          .group {
            @include mix.mq("phone-wide", max) {
              flex-direction: column;
            }
          }
        }
      }

      .social-media {
        margin-top: v.$space-m;

        mat-icon {
          cursor: pointer;
        }
      }

      .newsletter {
        margin-top: v.$space-l;

        @include mix.mq("tablet-wide", max) {
          flex-direction: column;
          align-items: flex-start;
        }

        span {
          @include mix.mq("desktop-wide", min) {
            font-size: v.$font-m;
          }
        }

        form {
          width: 100%;
          align-self: end;

          @include mix.mq("desktop-wide", min) {
            justify-content: flex-end;
          }

          @include mix.mq("tablet-wide", max) {
            flex-direction: column;
            align-items: flex-start;
          }

          @include mix.mq("tablet", max) {
            align-items: flex-end;
          }
          input {
            min-width: 360px;
            max-width: 600px;
            margin-right: v.$space-xs;

            @include mix.mq("tablet", max) {
              width: 100%;
              min-width: 100%;
              margin-right: 0;
            }
          }

          span.error-hint {
            position: absolute;
            bottom: -22px;
            right: 2px;
            font-size: 12px;
            line-height: 24px;
            color: v.$app-red;
          }

          button {
            padding: 12px 54px 12px 20px;
            white-space: nowrap;
            mat-icon {
              width: 24px;
              height: 24px;
            }

            &:hover {
              mat-icon.secondary {
                color: v.$text-dark-800;
              }
            }
          }
        }
      }

      .divider {
        width: 100%;
        background-color: v.$off-white-darker;
        height: 2px;
        margin-top: v.$space-m;
      }

      .rights {
        margin-top: v.$space-m;

        @include mix.mq("desktop-wide", min) {
          font-size: v.$font-s;
        }
      }
    }
  }
}
