<header class="header centered inline between">
    <div class="logo">
        <img src="/assets/images/logo.png" alt="tBRL Logo" class="to-point">
    </div>
    <nav class="inline gap-xl">
        <a href="#how-it-works" class="to-point">{{'sections.howItWorks' | translate}}</a>
        <a href="#proof-of-reserves" class="to-point">{{'sections.proofOfReserves' | translate}}</a>
        <a href="#api-first" class="to-point">{{'sections.apiFirst' | translate}}</a>
        <a href="#use-cases" class="to-point">{{'sections.useCases' | translate}}</a>
        <a href="#faq" class="to-point">{{'sections.faq' | translate}}</a>
        <a href="#final-cta" class="to-point">{{'sections.finalCTA' | translate}}</a>
    </nav>
</header>