<header class="header centered inline between padding-20 secondary-bg">
    <div class="logo">
        <img src="/assets/images/logo.png" alt="tBRL Logo">
    </div>
    <nav class="inline gap-20">
        <a href="#how-it-works" class="to-point">{{'sections.howItWorks'}}</a>
        <a href="#proof-of-reserves" class="to-point">{{'sections.proofOfReserves'}}</a>
        <a href="#api-first" class="to-point">{{'sections.apiFirst'}}</a>
        <a href="#use-cases" class="to-point">{{'sections.useCases'}}</a>
        <a href="#faq" class="to-point">{{'sections.faq'}}</a>
        <a href="#final-cta" class="to-point">{{'sections.final-cta'}}</a>
    </nav>
</header>