@use "./../../../assets/styles/variables.scss" as v;
@use "./../../../assets/styles/mixinn.scss" as mix;

:host {
  width: 100%;
  flex: 1;

  header {
    position: sticky;
    top: 0;
    z-index: 10000;
    padding: 30px 80px 0;
    background-color: v.$color-bg-main;

    @include mix.mq("desktop-wide", min) {
      background: #000101;
      padding: 40px 100px;
    }

    @include mix.mq("tablet-wide", max) {
      padding: 30px 60px 0;
    }

    @include mix.mq("phone-wide", max) {
      padding: 20px 40px 0;
    }

    .logo {
      img {
        height: 32px;
        width: auto;

        @include mix.mq("desktop-wide", min) {
          height: 40px;
        }

        @include mix.mq("phone-wide", max) {
          height: 28px;
        }
      }

      &:hover {
        opacity: 1 !important;
      }
    }

    a {
      color: v.$text-dark-500;
      text-decoration: none;
      position: relative;
      transition: color 0.2s ease;

      @include mix.mq("desktop-wide", min) {
        font-size: 1.125rem;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: v.$primary-900;
        height: 2px;
        width: 100%;
        bottom: -8px;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.2s linear;
      }

      &:hover {
        color: v.$color-text-main;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    .dropdown {
      position: relative;
      min-width: 144px;

      @include mix.mq("tablet", max) {
        font-size: v.$font-s;
      }

      @include mix.mq("phone", max) {
        min-width: 120px;
      }

      .select {
        color: v.$color-text-main;
        display: flex;
        border-radius: 8px;
        justify-content: space-between;
        align-items: center;
        padding: v.$space-xxs;
        cursor: pointer;
        height: 40px;

        .option-selected {
          display: flex;
          align-items: center;
        }

        .flag {
          width: 24px;
          margin-right: v.$space-xs;
        }

        &:hover {
          background: v.$color-bg-secondary;
        }
      }

      .caret {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fff;
        transition: 0.3s;

        @include mix.mq("phone", max) {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 5px solid #fff;
        }
      }

      .caret-rotate {
        transform: rotate(180deg);
      }

      .menu {
        list-style: none;
        padding: 0.25rem;
        background: v.$color-bg-secondary;
        border: 1px #363a43 solid;
        border-radius: 0.5rem;
        color: v.$color-text-main;
        position: absolute;
        top: 3.5rem;
        left: 50%;
        width: 100%;
        max-height: 300px;
        transform: translateX(-50%);
        opacity: 1;
        display: none;
        transition: 0.2s;
        z-index: 1;

        @include mix.mq("phone", max) {
          top: 3rem;
        }

        li.option {
          padding: 0.5rem;
          margin: 0.3rem 0;
          border-radius: 0.5rem;
          cursor: pointer;
          align-items: center;

          img {
            width: 24px;
            height: 32px;
            margin-right: v.$space-xs;
          }

          &:hover {
            background: #2a2d35;
          }
        }
      }

      .active {
        background: #23242a;
      }

      .menu-open {
        display: block;
      }

      .selected {
        margin-right: 0.6rem;
      }
    }
    &.scrolled {
      background-color: transparent;
      .logo {
        opacity: 0.7;
      }

      .select {
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      nav {
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
