<section class="wth-100 in-view" id="hero" appScrollAnimate>
    <div class="background-wrapper">
        <img *ngIf="!smallScreen" src="/assets/images/hero-bg-edited.png" alt="Background Image - tBRL">
        <img *ngIf="smallScreen" src="/assets/images/hero-bg-small.png" alt="Background Image - tBRL">
    </div>
    <div class="content column">
        <div class="blockquote" *ngIf="!smallScreen">
            <blockquote class="fs-16">
                “{{ 'socialProof' | translate }}”
            </blockquote>
        </div>
        <div class="title column gap-m">
            <h1 class="fw-700">
                {{ 'headline' | translate }}
            </h1>
            <p class="fs-30 txt-justified">
                {{ 'subHeadline' | translate }}
            </p>
        </div>
        <div class="buttons-container gap-m inline">
            <button class="btn primary to-point">
                {{ 'startIntegration' | translate }}
                <mat-icon>arrow_forward</mat-icon>
            </button>
            <button class="btn docs secondary to-point">
                {{ 'whitepaper' | translate }}
                <mat-icon>description</mat-icon>
            </button>

        </div>
        <div class="blockquote" *ngIf="smallScreen">
            <blockquote class="fs-16">
                “{{ 'socialProof' | translate }}”
            </blockquote>
        </div>
    </div>