@use "./../../../assets/styles/variables.scss" as v;

:host {
  width: 100%;
  height: 100%;

  section {
    padding: 60px 80px;
    width: 100%;
    height: 100%;

    .top-container {
      .container {
        display: inline-block;
        margin-bottom: v.$space-xs;

        .typewriter {
          font-family: monospace;
          letter-spacing: 3px;
          border-right: 2px solid;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          animation: typing 2s steps(9), cursor 0.4s step-end infinite alternate;
        }

        @keyframes cursor {
          50% {
            border-color: transparent;
          }
        }

        @keyframes typing {
          from {
            width: 0;
          }
        }
      }

      .title {
        margin-bottom: v.$space-m;
      }
    }

    .main-content {
      display: grid;
      grid-template-columns: minmax(300px, 500px) 1fr;
      column-gap: v.$space-xl;
      justify-content: flex-start;
      align-items: flex-start;

      .code-block {
        overflow: hidden;
        border-radius: 12px;
        background: v.$color-bg-secondary;
        box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
          0 10px 20px rgba(166, 173, 201, 0.2);
        justify-content: flex-start;
        position: relative;

        .code-header {
          background-color: rgba(255, 255, 255, 0.05);
          padding: v.$space-xs v.$space-s;
          display: flex;
          gap: v.$space-xxs;

          .dot {
            width: v.$space-xs;
            height: v.$space-xs;
            border-radius: 50%;

            &.red {
              background-color: v.$app-red;
            }

            &.green {
              background-color: v.$app-green;
            }

            &.yellow {
              background-color: v.$app-yellow;
            }
          }
        }

        .code-body {
          pre[class*="language-"].line-numbers {
            margin: 0;
            font-family: "Fira Code", monospace;
            font-size: 0.95rem;
            line-height: 1.5;
            color: #cdd6f4;
            position: relative; /* required for Prism’s gutter */
            width: 100%; /* make it span the full card width */

            code {
              display: block; /* kill inline whitespace issues */
              width: 100%;
            }
          }
        }
      }

      .bullets {
        mat-icon.icon {
          width: 28px;
          height: 28px;
        }
        button {
          width: fit-content;

          &:hover {
            mat-icon {
              color: v.$text-dark-800;
            }
          }
        }
      }
    }
  }
}
