<section class="wth-100 centered" id="final-cta">
    <div class="container column gap-xl centered">
        <div class="text-container centered column gap-m">
            <h1>
                {{'finalCTA.headline' | translate}}
            </h1>
            <p>{{'finalCTA.subHeadline' | translate}}</p>
        </div>
        <div class="inline gap-m">
            <button class="btn primary">{{'finalCTA.createAPIKey' | translate}}
                <mat-icon>api</mat-icon>
            </button>
            <button class="btn secondary">{{'finalCTA.scheduleDemo' | translate}}
                <mat-icon>event_available</mat-icon>
            </button>
        </div>
    </div>
</section>