@use "./../../../assets/styles/variables.scss" as v;
@use "./../../../assets/styles/mixinn.scss" as mix;

:host {
  section {
    padding: 120px 80px 60px;

    @include mix.mq("desktop-wide", min) {
      padding: 140px 100px 80px;
    }

    @include mix.mq("tablet-wide", max) {
      padding: 60px 60px 40px;
    }

    @include mix.mq("phone-wide", max) {
      padding: 40px 30px 40px;
    }
    .top-container {
      margin-bottom: v.$space-xl;
      h2 {
        text-align: center;
        &::before {
          content: "FAQ";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-weight: 600;
          line-height: 144px;
          font-size: 144px;
          background: linear-gradient(180deg, #62bd0094, #a67e3a1c 50%);
          -webkit-text-fill-color: transparent;
          background-clip: text;
          overflow: hidden;

          @include mix.mq("phablet", max) {
            line-height: 120px;
            font-size: 120px;
          }
        }
      }
    }

    ul {
      max-width: 100%;

      .element {
        max-width: 780px;

        @include mix.mq("desktop-wide", min) {
          max-width: 840px;
          margin-bottom: v.$space-s;
        }
        margin-bottom: v.$space-xs;
        align-self: center;

        .question {
          display: flex;
          align-items: center;
          height: 54px;
          border-radius: 12px;
          cursor: pointer;
          outline: none;
          padding: v.$space-s;
          line-height: 1;
          border: v.$primary-1100 1px solid;

          a {
            font-size: v.$font-l;
            line-height: v.$font-l * v.$line-height-s;
            text-decoration: none;

            @include mix.mq("tablet-small", max) {
              line-height: v.$font-m * v.$line-height-s;
              font-size: v.$font-m;
            }
          }

          mat-icon {
            margin-right: v.$space-s;
            transform: rotate(0deg);

            @include mix.mq("phone-wide", max) {
              min-width: 20px !important;
              height: 20px !important;
            }

            &.rotate {
              transform: rotate(90deg);
            }
          }
        }

        .answer {
          font-size: v.$font-m;
          overflow: hidden;
          max-height: 0;
          opacity: 0;
          border-width: 0;
          background-color: v.$color-bg-secondary;
          border-radius: 12px;
          line-height: v.$font-m * 1.6;
          padding: 0 24px;
          margin-top: v.$space-xs;
          transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;

          @include mix.mq("tablet-small", max) {
            font-size: 1.125rem;
          }

          &.open {
            opacity: 1;
            padding: 24px;
            max-height: 160px;

            @include mix.mq("tablet-small", max) {
              max-height: 240px;
            }

            @include mix.mq("phone", max) {
              max-height: 280px;
            }
          }
        }
      }
    }
  }
}
