@use "./../../../assets/styles/variables.scss" as v;
@use "./../../../assets/styles/mixinn.scss" as mix;

:host {
  width: 100%;
  height: 100%;

  .how-it-works {
    padding: 100px 80px 60px 80px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: start;
    gap: v.$space-m;
    position: relative;

    @include mix.mq("desktop-wide", min) {
      padding: 120px 100px 80px;
    }

    @media (max-width: 1180px) {
      grid-template-columns: 1fr;
    }

    @include mix.mq("tablet-wide", max) {
      padding: 60px 60px 40px;
    }

    @include mix.mq("phone-wide", max) {
      padding: 40px 30px 40px;
    }

    .main {
      h2 {
        @media (max-width: 1000px) {
          text-align: center;
        }

        &::before {
          position: absolute;
          content: "";
          width: 200px;
          height: 3px;
          top: -(v.$space-s);
          background: linear-gradient(
            135deg,
            v.$primary-900 0%,
            v.$color-bg-main 100%
          );

          @media (max-width: 1000px) {
            width: 0;
          }
        }
      }

      .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: v.$space-l;
        margin-top: 48px;
        align-items: start;

        @media (max-width: 1000px) {
          grid-template-columns: 1fr;
        }

        .card {
          border: #00550096 1px solid;
          padding: v.$space-m;
          border-radius: 12px;
          height: 100%;

          @include mix.mq("desktop-wide", min) {
            padding: v.$space-l;
          }

          @media (max-width: 1000px) {
            flex-direction: row;
            justify-content: flex-start;
          }

          @include mix.mq("tablet-small", max) {
            flex-direction: column;
            gap: v.$space-xs;
          }

          &.last {
            justify-content: flex-start;

            .long-step {
              text-align: center;

              @media (max-width: 1000px) {
                text-align: start;
              }
            }
          }

          .image-container {
            width: 160px;
            height: 160px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .wrapper {
            display: flex;
            flex-direction: column;
            gap: v.$space-m;

            @media (max-width: 1000px) {
              align-items: flex-start;
              gap: v.$space-m;
            }

            @include mix.mq("tablet-small", max) {
              gap: v.$space-xs;
            }

            @include mix.mq("phone-wide", max) {
              justify-content: center;
              align-items: center;
            }

            .information {
              gap: v.$space-s;
              font-size: v.$font-s;

              @include mix.mq("desktop-wide", min) {
                gap: v.$space-m;
                font-size: v.$font-m;
              }

              @media (max-width: 1000px) {
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
              }

              @include mix.mq("phone-wide", max) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }

              .last-info {
                @include mix.mq("desktop-wide", min) {
                  gap: v.$space-m;
                }

                @media (max-width: 1000px) {
                  flex-direction: row;
                }

                @include mix.mq("phone-wide", max) {
                  flex-direction: column;
                }
              }

              span.code {
                padding: 4px v.$space-xxs;
                border-radius: 4px;
                background-color: v.$color-bg-secondary;

                &.burn {
                  color: v.$app-red;
                }

                &.mint {
                  color: v.$app-blue;
                }
              }
            }
          }

          span {
            white-space: nowrap;
          }
          .long-step {
            white-space: wrap;
            word-break: break;
          }

          mat-icon {
            @include mix.mq("desktop-wide", min) {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }

    .sidebar {
      align-items: center;
      margin-top: 90px;

      @media (max-width: 1180px) {
        margin-top: v.$space-s;
      }

      h3 {
        margin-bottom: v.$space-m;
        text-align: center;

        @media (max-width: 1180px) {
          margin-bottom: v.$space-l !important;
        }
      }

      .blockchains {
        gap: v.$space-l;
        align-items: center;

        @include mix.mq("desktop-wide", min) {
          gap: v.$space-xxl;
        }

        @media (max-width: 1180px) {
          display: flex;
          flex-direction: row;
          gap: 80px;
        }

        @include mix.mq("tablet-small", max) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: v.$space-xxl;
        }

        img {
          width: 60px;
          height: 60px;
          align-self: center;

          @media (max-width: 1180px) {
            width: 80px;
            height: 80px;
          }

          @include mix.mq("phone-wide", max) {
            width: 66px;
            height: 66px;
          }
        }
      }
    }
  }
}
