/* 1) Pull in your v maps and utilities */
@use "./assets/styles/common-classes.scss";
@use "./assets/styles/mixinn.scss";
@use "./assets/styles/variables.scss" as v;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: v.$color-text-main;
  cursor: default;
  font-family: Roboto, "Inter", sans-serif;
  background-color: #000805;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  letter-spacing: 0px;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: v.$font-xsl;
  line-height: v.$font-xsl * v.$line-height-s;
  font-weight: 600;
  position: relative;
  color: v.$primary-800;

  /*&::after {
    content: "";
    position: absolute;
    background-color: v.$primary-900;
    border-radius: 3px;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -6px;
  } */
}

h3 {
  font-size: 1.75rem;
  line-height: 1.75rem * 1.6;
  font-weight: 600;
}
