/* 1) Pull in your v maps and utilities */
@use "./assets/styles/common-classes.scss";
@use "./assets/styles/mixinn.scss";
@use "./assets/styles/variables.scss" as v;
@import "prismjs/themes/prism-okaidia.css";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: v.$color-text-main;
  cursor: default;
  font-family: Roboto, "Inter", sans-serif;
  background-color: v.$color-bg-main;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  letter-spacing: 0px;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 4rem;
  text-wrap: balance;
  line-height: 4rem * 1.2;
  letter-spacing: -0.01em;
}

h2 {
  font-size: v.$font-xsl;
  line-height: v.$font-xsl * v.$line-height-s;
  font-weight: 600;
  position: relative;
  color: v.$primary-800;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.75rem * 1.6;
  font-weight: 600;
}

.input-fill-default {
  background: v.$color-bg-secondary;
  border-radius: 12px;
  height: 100%;
  color: v.$color-text-main;
  font-size: v.$font-s;
  padding: 10px 14px;
  height: 48px;
  position: relative;

  &.ng-invalid.ng-touched:not(:read-only):not(:disabled),
  &.mat-datepicker-input.ng-invalid.ng-touched:not(:read-only):not(:disabled) {
    border-color: v.$app-red;
  }
}

.input-fill-default:hover {
  border: 1px solid v.$primary-800;
}
