<section class="wth-100 centered inline" id="proof-of-reserves">
    <div class="left-container">
        <h2>
            {{ 'proofOfReserves.title' | translate }}
        </h2>
        <div class="container column wth-100 gap-l align-center">
            <div class="inline gap-s">
                <mat-icon svgIcon="squares" class="icon"></mat-icon>
                <span>{{ 'proofOfReserves.bullet1' | translate }}</span>
            </div>
            <div class="inline align-center gap-s">
                <mat-icon svgIcon="squares" class="icon"></mat-icon>
                <span>{{ 'proofOfReserves.bullet2' | translate }}</span>
            </div>
            <div class="inline align-center gap-s">
                <mat-icon svgIcon="squares" class="icon"></mat-icon>
                <span>{{ 'proofOfReserves.bullet3' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="right-container">
        <iframe src="https://reserve.fact.finance/tokeniza"></iframe>
    </div>
</section>